/* #team1ScorerPic {
  height: 400px;
  width: 40%
} */

#matchup {
  display: none;
}

#result {
  display: none;
}

.matchupPic {
  height: 200px;
  width: 20%
}

body{
  background: url("https://i.pinimg.com/originals/7e/d8/6e/7ed86e3f6d18c6f4a7c77cd1a0abf526.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  color: white;
  text-align: center;
}

#selectors {
  color: white;
  margin-top: 350px;
}
